name: golangci-lint
on:
  push:
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Install package dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libseccomp-dev

      - name: Check out code
        uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.6
